@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header-part{
  background-image: url("./../public/headerBg.svg");
  background-size: cover;
}

.footer-part{
  background-image: url("./../public/footerBg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  
}

.prod-contact-part{
  background-image: url("./../public/contactusBg.svg");
  background-size: cover;
}

*{
  font-family: 'Lato', sans-serif;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
